@media screen and (max-width: 980px) {
	.header__intro {
		padding-left: 15px;
		padding-right: 15px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.header__main {
		align-items: center;
		padding-bottom: 40px;
	}
	.header__img {
		width: 100%;
		max-width: 300px;
	}
	.testimonials__container {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media screen and (max-width: 940px) {
	.content__box {
		padding-right: 10px;
		padding-left: 10px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.box__main {
		text-align: center;
		align-items: center;
	}
	.box__main--blue {
		padding-right: 0;
	}
	.box__img--white {
		margin-bottom: 50px;
	}
	.box__services {
		margin-bottom: 50px;
	}
	.testimonials__container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.testimonials__box {
		margin-bottom: 30px;
	}
	.testimonials__box:last-child {
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 900px) {
	.about {
		padding-top: 150px;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 50px;
	}
	.about__container {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.about__item {
		margin-bottom: 30px;
	}

}
@media screen and (max-width: 540px) {
	.header__title {
		font-size: 30px;
	}
	.content__box {
		padding-bottom: 50px;
	}
	.box__img--bg {
		width: 100%;
	}
}
@media screen and (max-width: 470px) {
	.cta__title, .cta__title span {
		font-size: 30px;
	}
}
@media screen and (max-width: 420px) {
	.form__input {
		width: 75%;
		max-width: 280px;
		margin-left: 35px;
	}
	.form__caption {
		margin-left: 35px;
	}
	.header__title {
		font-size: 28px;
		line-height: 50px;
	}
	.form__btn {
		position: static;
		margin-left: 45px;
		margin-right: 45px;
		width: 75%;
		max-width: 280px;
		font-size: 13px;
	}
	.form__title {
		font-size: 20px;
	}
	.form__text {
		font-size: 13px;
	}
	.cta__btn {
		font-size: 13px;
	}
	.footer__main {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.footer__box {
		margin-bottom: 30px;
	}
	.footer__box:last-child {
		margin-bottom: 0;
	}
} 