*,
*:after,
*:before {
	box-sizing: border-box;
}

.slider__container {
	width: 100%;
	max-width: 810px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 15px;
}
.slider,
.slider--second {
	width: 100%;
	max-width: 800px;
	box-shadow: 0px 0px 10px 2px #666666;
}
.slider__item {
	width: 100%;
	height: 380px;
}
.slider__img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.slider__nav,
.slider__nav--second {
	margin-top: 30px;
	width: 100%;
	max-width: 770px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
.nav__item--slider {
	position: relative;
	width: 100%;
	/*max-width: 170px;*/
	height: 110px;
	margin: 10px 15px;
	cursor: pointer;
	border: 2px solid #ffffff;
}
.nav__item--slider:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(34,34,34,0.6);
}
.nav__item--slider.slick-current.nav__item--slider:after {
	display: none;
}
.nav__item--slider.nav__item--slider:hover {
	border: 2px solid #2477c2;
}
.nav__item--slider.nav__item--slider:hover.nav__item--slider:after {
	display: none;
}
.nav__img {
	display: block;
	width: 100%;
	height: 100%;
	background-position: top center;
	background-size: cover;
}
.slick-next {
	position: absolute;
	top: 50%;
	right: -14px;
	background-image: url(../media/icons/arrow__right.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	width: 30px;
	height: 30px;
	font-size: 1px;
	background-color: rgba(255, 255, 255, 0); 
	color: rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
	padding: 0;
}
.slick-next:hover {
	background-image: url(../media/icons/arrow__right--active.png);
}
.slick-prev {
	position: absolute;
	top: 50%;
	left: -14px;
	z-index: 99;
	background-image: url(../media/icons/arrow__left.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	width: 30px;
	height: 30px;
	font-size: 1px;
	background-color: rgba(255, 255, 255, 0); 
	color: rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
	padding: 0;
}
.slick-prev:hover {
	background-image: url(../media/icons/arrow__left--active.png);
}

