.log-in-page {
	height: auto;
}
.main-page-link,
.registration-link {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
	color: #000000;
	flex: 0 1 300px;
	@media (max-width: 570px) {
		font-weight: 500;
		font-size: 14px;
		line-height: 27px;
	}
}
.registration-link {
	text-align: right;
}

.log-in {
	padding: 60px 30px 0;
	@media (max-height: 770px) {
		padding: 30px 30px 0;
	}
	@media (max-width: 430px) {
		padding: 30px 15px 0;
	}
	&__content {
		max-width: 905px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow: hidden;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	}

	&__form {
		width: 100%;
		margin-top: 30px;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		@media (max-width: 1370px) {
			margin-top: 15px;
			padding-bottom: 35px;
		}
	}

	&__input {
	}
}
.bg-text {
	font-size: 226px;
	line-height: 230px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
	margin-top: -71px;
	@media (max-width: 1370px) {
		font-size: 180px;
		line-height: 180px;
		margin-top: -59px;
	}
	@media (max-width: 570px) {
		font-size: 106px;
		line-height: 110px;
		margin-top: -33px;
	}
}
.input-form {
	display: flex;
	max-width: 413px;
	width: 100%;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #010101;
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid #000;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
	&::placeholder {
		opacity: 1;
		font-weight: 500;
		font-size: 18px;
		line-height: 18px;
		color: #000;
		text-transform: uppercase;
	}
	@media (max-width: 1370px) {
		margin-bottom: 20px;
	}
	@media (max-width: 570px) {
		max-width: 260px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
	}
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}

.form-btn {
	border: 1px solid #000;
	background-color: transparent;
	padding: 14px 5px;
	max-width: 267px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	transition: transform 0.3s ease;
	&:active {
		transform: scale(0.9);
		transition: transform 0.3s ease;
	}
}
.log-in-btn {
	margin-top: 50px;
	@media (max-width: 1370px) {
		margin-top: 25px;
	}
}
.forgot {
	display: block;
	text-align: center;
	margin-top: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	color: #000;
}
