.main-in-top-page {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.gradient-title {
	color: #000;
	display: block;
	background: -webkit-linear-gradient(17deg, #e400e8 6.24%, #44097c 74.18%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// Tools chapter.
@import "_tools";

// Wheel chapter.
@import "_wheel-life";

// News chapter.
@import "_news-top-page";
