.preloader {
	width: 100%;
	height: 100vh;
	background-color: #000;

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__box {
		width: 200px;
		height: 200px;
		position: relative;
	}
}

.preloader-first,
.preloader-second,
.preloader-third,
.preloader-forth {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation-iteration-count: infinite;
}

.preloader-first {
	border-bottom: 3px solid #e020fa;
	transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	animation: first 1s linear;
	animation-iteration-count: infinite;
}
.preloader-second {
	border-right: 3px solid #4a4aea;
	transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	animation: second 1s linear;
	animation-iteration-count: infinite;
}
.preloader-third {
	border-top: 3px solid #15a6d2;
	transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	animation: third 1s linear;
	animation-iteration-count: infinite;
}

@keyframes first {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes second {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes third {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
