.private-page {
	height: auto;
	.burger {
		background-image: url("../img/header/burger-000.svg");
	}
}

.private {
	width: 100%;
	padding: 60px 10px 60px;

	&__body {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&__title {
		font-weight: 500;
		font-size: 35px;
		line-height: 35px;
		color: #081f32;
		text-transform: uppercase;
		margin-bottom: 30px;
		@media (max-height: 770px) and (min-width: 1300px) {
			margin-bottom: 25px;
		}
		@media (max-height: 640px) and (min-width: 1300px) {
			margin-bottom: 15px;
		}
		@media (max-width: 550px) {
			font-size: 26px;
			line-height: 28px;
		}
	}

	&__text {
		color: #000;
		font-weight: 300;
		font-size: 20px;
		line-height: 28px;
		text-align: justify;
		a {
			color: #a603be;
			cursor: pointer;
			font-weight: 400;
		}
		span {
			font-weight: 400;
		}
	}
}
