.top-page {
	// background-image: url(../video/video__bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 0;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	&__bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

/*************HEADER************/

.header {
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 100px;
	@media (max-width: 950px) {
		padding: 24px 30px;
	}
	@media (max-width: 430px) {
		padding: 24px 15px;
	}
	@media (max-width: 375px) {
		padding: 24px 10px;
	}
}

.header {
	&__logo {
		transition: opacity 0s ease 0.6s;
	}
}
.logo-hidden {
	opacity: 0;
	transition: opacity 0s ease;
	a {
		cursor: default;
	}
}
.burger {
	position: relative;
	z-index: 3;
	cursor: pointer;
	display: block;
	width: 32px;
	height: 34px;
	background-image: url(../img/header/burger.svg);
	background-repeat: no-repeat;
	background-size: 96%;
	background-position: center center;
}
.burger-active {
	background-image: url(../img/header/burger-black.svg);
}
.logo {
	&__link {
	}
	&__img {
	}
}

.exit {
	cursor: pointer;
	transition: opacity 0s ease 0.2s;
	&__img {
	}
}
.hidden-exit {
	opacity: 0;
	transition: opacity 0s ease;
}
/****************MENU**************/

.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: -110vw;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: left 0.6s ease-in;
	padding-top: 24px;

	&__bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 100px 57px;
		@media (max-width: 510px) {
			flex-direction: column-reverse;
			justify-content: flex-start;
			align-items: center;
			padding: 10px 50px 50px;
		}
	}
}
.logo_menu {
	margin-bottom: 90px;
	@media (max-height: 860px) {
		margin-bottom: 70px;
	}
	@media (max-height: 760px) {
		margin-bottom: 50px;
	}
}
.menu-active {
	left: 0;
	transition: left 0.6s ease-in;
}
.nav {
	&__list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&__link {
		color: #000;
		font-size: 24px;
		line-height: 27px;
		text-align: center;
		text-transform: uppercase;
		margin: 32px 0;
		@media (max-height: 860px) {
			margin: 20px 0;
		}
		@media (max-height: 680px) {
			margin: 10px 0;
			font-size: 20px;
			line-height: 24px;
		}
		@media (max-width: 430px) {
			margin: 20px 0;
		}
		@media (max-width: 350px) {
			font-size: 20px;
			line-height: 24px;
			margin: 10px 0;
		}
	}
}
.language {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&__item {
		cursor: pointer;
		font-size: 18px;
		line-height: 27px;
		text-transform: uppercase;
		&:first-child {
			margin-right: 25px;
		}
		&--active {
			text-decoration: underline;
		}
	}
}
.socials {
	max-width: 200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 510px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
.social {
	&__link {
		&:last-child {
			margin-top: 3px;
		}
	}

	&__img {
	}
}

/************INTRO STYLE*********/

.main {
	&__intro {
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}

// SCENE STARTS.
.scene {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	pointer-events: auto !important;
}

/********LAYERS STYLE*****/
.layer {
	position: absolute;
	z-index: 3;
	cursor: default;
	@media (max-width: 1000px) {
		display: none !important;
	}
	&__text {
		font-size: 16px;
		line-height: 28px;
		font-weight: 400;
		color: #fff;
	}
}
// left chapter.
.layer-1 {
	top: 10% !important;
	left: 35% !important;
	p {
		animation: fontResize 41s linear;
		animation-iteration-count: infinite;
	}
}
.layer-2 {
	top: 25% !important;
	left: 27% !important;
	p {
		animation: fontToSmall 41s linear;
		animation-iteration-count: infinite;
	}
}
.layer-3 {
	top: 40% !important;
	left: 20% !important;
	p {
		animation: fontResize 41s linear 10s;
		animation-iteration-count: infinite;
	}
	@media (max-width: 1450px) {
		left: 15% !important;
	}
}
.layer-4 {
	top: 56% !important;
	left: 25% !important;
	p {
		animation: fontResize 41s linear 8s;
		animation-iteration-count: infinite;
	}
	@media (max-width: 1450px) {
		left: 20% !important;
	}
}
.layer-5 {
	top: 77% !important;
	left: 38% !important;
	p {
		animation: fontToSmall 41s linear;
		animation-iteration-count: infinite;
	}
}
// right chapter.
.layer-6 {
	top: 13% !important;
	left: 63% !important;
	p {
		animation: fontResize 41s linear 27s;
		animation-iteration-count: infinite;
	}
}
.layer-7 {
	top: 20% !important;
	left: 74% !important;
	p {
		animation: fontToSmall 41s linear;
		animation-iteration-count: infinite;
	}
}
.layer-8 {
	top: 56% !important;
	left: 73% !important;
	p {
		animation: fontToSmall 41s linear;
		animation-iteration-count: infinite;
	}
}
.layer-9 {
	top: 79% !important;
	left: 63% !important;
	p {
		animation: fontResize 41s linear 15s;
		animation-iteration-count: infinite;
	}
}

@keyframes fontToSmall {
	0% {
		font-size: 30px;
	}
	50% {
		font-size: 16px;
	}
	100% {
		font-size: 30px;
	}
}

@keyframes fontResize {
	0% {
		font-size: 16px;
	}
	50% {
		font-size: 30px;
	}
	100% {
		font-size: 16px;
	}
}

// CENTER BOX.
.center-box {
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	h1 {
		position: relative;
		z-index: 2;
	}
	@media (max-width: 700px) {
		align-items: center;
	}
}
.center {
	&__title {
		font-weight: 700;
		font-size: 60px;
		line-height: 80px;
		text-transform: uppercase;
		color: #ffffff;
		cursor: default;
		@media (max-width: 700px) {
			text-align: center;
		}
		@media (max-width: 640px) {
			font-size: 50px;
			line-height: 80px;
		}
		@media (max-width: 510px) {
			font-size: 42px;
			line-height: 65px;
		}
		@media (max-width: 370px) {
			font-size: 36px;
			line-height: 55px;
		}
	}

	&__subtitle {
		font-size: 50px;
		line-height: 50px;
		font-weight: 400;
		text-transform: uppercase;
		margin-left: 60px;
		color: #fff;
		cursor: default;
		display: block;
		background: -webkit-linear-gradient(360deg, #e400e8, #6c097c);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media (max-width: 700px) {
			text-align: center;
			margin-left: 0;
		}
		@media (max-width: 640px) {
			font-size: 43px;
			line-height: 50px;
		}
		@media (max-width: 510px) {
			font-size: 35px;
			line-height: 45px;
			position: relative;
			z-index: 2;
		}
		@media (max-width: 370px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	&__bottom-title {
		font-weight: 700;
		font-size: 72px;
		line-height: 109px;
		text-transform: uppercase;
		color: #ffffff;
		cursor: default;
		margin-left: 65px;
		@media (max-width: 700px) {
			text-align: center;
			margin-left: 0;
		}
		@media (max-width: 640px) {
			font-size: 60px;
			line-height: 90px;
		}
		@media (max-width: 510px) {
			font-size: 50px;
			line-height: 74px;
		}
		@media (max-width: 370px) {
			font-size: 40px;
			line-height: 60px;
		}
	}
}
.video__btn {
	cursor: pointer;
	position: absolute;
	bottom: 63px;
	right: -33px;
	display: block;
	width: 55px;
	height: 55px;
	z-index: 1;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center center;
	}
	@media (max-width: 700px) {
		bottom: 45px;
		right: -35px;
	}
	@media (max-width: 430px) {
		bottom: 72px;
		right: 52px;
	}
	@media (max-width: 370px) {
		bottom: 54px;
		right: 27px;
	}
}
.down {
	&__scroll {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 28px;
		cursor: pointer;
	}
}
.down-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-right: 15px;
	@media (max-width: 350px) {
		font-size: 16px;
	}
}

/***************ARROW***************/
.arrow {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	animation: downArrow 4s linear;
	animation-iteration-count: infinite;
	span {
		position: absolute;
		left: 0;
		margin-bottom: -10px;
		transform: rotate(-45deg);
		width: 16px;
		height: 16px;
		border-left: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
		border-top: 2px solid transparent;
		border-right: 2px solid transparent;
		&:nth-child(1) {
			top: -27px;
			animation: slideArrow 3s linear 0s;
			animation-iteration-count: infinite;
		}
		&:nth-child(2) {
			top: -19px;
			animation: slideArrow2 3s linear 0s;
			animation-iteration-count: infinite;
		}
		&:nth-child(3) {
			top: -12px;
			animation: slideArrow3 3s linear 0s;
			animation-iteration-count: infinite;
		}
	}
}
@keyframes downArrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes slideArrow {
	0% {
		border-left: 2px solid #ffffff60;
		border-bottom: 2px solid #ffffff60;
	}
	4% {
		border-left: 2px solid #ffffff60;
		border-bottom: 2px solid #ffffff60;
	}
	5% {
		border-left: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
	}
	100% {
	}
}
@keyframes slideArrow2 {
	5% {
		border-left: 2px solid #ffffff60;
		border-bottom: 2px solid #ffffff60;
	}
	9% {
		border-left: 2px solid #ffffff60;
		border-bottom: 2px solid #ffffff60;
	}
	10% {
		border-left: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
	}
}
@keyframes slideArrow3 {
	10% {
		border-left: 2px solid #ffffff60;
		border-bottom: 2px solid #ffffff60;
	}
	14% {
		border-left: 2px solid #ffffff60;
		border-bottom: 2px solid #ffffff60;
	}
	15% {
		border-left: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
	}
	100% {
	}
}
