.video-modal {
	// display: block;
}
.video__flex {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 1050px) {
		padding: 0 35px;
	}
	@media (max-width: 600px) {
		padding: 0 5px;
	}
}
.video {
	&__body {
		max-width: 950px;
		width: 100%;
		height: 600px;
		background-color: #ffffff;
		// margin: 150px auto 0;
		position: relative;
		@media (max-height: 820px) {
			// margin: 100px auto 0;
		}
		@media (max-height: 760px) {
			// margin: 70px auto 0;
		}
		@media (max-height: 700px) {
			// margin: 50px auto 0;
			height: 500px;
		}
		@media (max-width: 790px) {
			height: 500px;
		}
		@media (max-width: 710px) {
			height: 400px;
		}
		@media (max-width: 600px) {
			margin-right: 20px;
		}
		@media (max-width: 500px) {
			height: 350px;
		}
		@media (max-width: 440px) {
			margin-right: 0;
		}
	}

	&__content {
		max-width: 950px;
		height: 100%;
		display: flex;
		position: relative;
		z-index: 5;
		iframe {
			width: 100%;
		}
	}
}
.modal__exit--video {
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: #ffffff;
	background: linear-gradient(-90.35deg, #e400e8 2.02%, #44097c 99.99%);
	position: absolute;
	top: -30px !important;
	right: -30px !important;
	height: 30px;
	width: 30px;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	.modal__exit-img {
		@media (max-width: 600px) {
			transform: rotate(45deg);
		}
		@media (max-width: 440px) {
			transform: rotate(0);
		}
	}
	@media (max-width: 600px) {
		transform: rotate(-45deg);
		right: -15px !important;
		top: -38px !important;
	}
	@media (max-width: 440px) {
		transform: rotate(-90deg);
		right: 1px !important;
		top: -31px !important;
	}
}

.ytp-pause-overlay {
	display: none !important;
}
