@media screen and (max-width: 1205px) {
	.header__nav {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header__intro {
		padding-left: 15px;
		padding-right: 15px;
	}
	.details__container {
		padding-left: 15px;
	}
	.details__img--second {
		width: 600px;
	}
	.testimonials__area {
		padding-left: 15px;
		padding-right: 15px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.area__box {
		margin-bottom: 20px;
	}
	.catcher__box {
		padding-left: 15px;
		padding-right: 15px;
		flex-wrap: wrap;
	}
	.catcher__text {
		margin-right: 15px;
	}
	.contacts__container {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media screen and (max-width: 1110px) {
	.catcher__box {
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
	}
	.catcher__text {
		margin: 0 0 20px 0;
	}
	.plans__container {
		flex-wrap: wrap;
		width: 100%;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.plan {
		margin-bottom: 20px;
		margin-right: 10px;
	}
	.plan:last-child {
		margin-right: 0;
	}
}
@media screen and (max-width: 1110px) {
	.plan {
		margin-right: 0;
	}
}
@media screen and (max-width: 1080px) {
	.product__container {
		flex-wrap: wrap;
	}
	.details__img--second {
		width: 560px;
	}
}
@media screen and (max-width: 992px) {
	.details__phone {
		margin-right: 60px;
	}
	.details__img {
		height: 500px;
	}
	.details__box {
		padding-top: 0;
	}
	.details__box--second {
		padding-top: 0;
	}
	.details__img--second {
		width: 450px;
	}
}
@media screen and (max-width: 876px) {
	.details__img--second {
		width: 350px;
	}
}
@media screen and (max-width: 860px) {
	.details__phone {
		margin-right: 40px;
	}
	.details__img {
		height: 450px;
	}
	.details__title span:after,
	.details__title span:before {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.details__title {
		margin-bottom: -10px;
	}
	.details__img {
		height: 480px;
	}
}
@media screen and (max-width: 720px) {
	.header__bg {
		background-position: top left;
	}
	.nav__list {
		display: none;
	}
	.burger__menu {
		display: block;
	}
	.details__container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.details__box {
		order: -1;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.details__phone {
		margin: 0; 
	}
	.contacts__container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.contacts__element {
		margin-bottom: 20px;
	}
	.contacts__form {
		text-align: center;
	}
	.form__container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.form__textarea {
		margin-left: 0;
		margin-top: 20px;
	}
}
@media screen and (max-width: 510px) {
	.intro__title {
		font-size: 35px;
		line-height: 35px;
	}
	.intro__text {
		font-size: 15px;
		line-height: 23px;
	}
	.intro__btn {
		padding: 15px 20px;
	}
	.product__title span:after,
	.product__title span:before {
		display: none;
	}
	.contacts__form {
		padding: 60px 20px;
	}
}
@media screen and (max-width: 430px) {
	.catcher__btns {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.catcher__btn {
		margin-top: 15px;
	}
}
@media screen and (max-width: 390px) {
	.details__img {
		height: 450px;
	}
}
@media screen and (max-width: 360px) {
	.intro__btn {
		font-size: 11px;
	}
	.details__img {
		height: 380px;
	}
	.details__img--second {
		width: 300px;
	}
}