/**********DYNAMIC STYLE**********/
.dynamic {
	background: linear-gradient(21.17deg, #a504bd 0%, #49097f 100%);
	color: #fff;
	&__body {
		height: 100%;
		padding: 12px 40px;
		background-image: url(../img/content/main-page/bg/dynamic.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: left center;
		@media (max-width: 1790px) {
			padding: 12px 20px;
		}
		@media (max-width: 440px) {
			padding: 12px 10px;
		}
	}

	&__title {
		text-align: center;
	}

	&__top {
		display: flex;
		margin-top: 50px;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		&:nth-child(2) {
			margin-left: 10px;
		}
		@media (max-width: 1590px) {
			font-size: 14px;
			line-height: 20px;
		}
		@media (max-width: 440px) {
			text-align: right;
		}
	}

	&__line {
		margin: 10px 0 5px;
		width: 100%;
		height: 6px;
		background-color: #ffffff50;
		border-radius: 50px;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
	}

	&__caption {
		&:first-child {
			opacity: 0;
			@media (max-width: 560px) {
				display: none;
			}
		}
		font-size: 14px;
		line-height: 20px;
	}
}

.dynamic-line {
	&__progress {
		border-radius: 50px;
		height: 100%;
		width: 60%;
		background-color: #ffffff90;
	}
}
