.header {
	width: 100%;
	border-bottom: 1px solid #eaedf3;

	&__body {
		width: 100%;
		padding: 11px 35px;
		background-color: #ffffff;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 460px) {
			padding: 11px 15px;
		}
	}
	&__burger {
		display: none;
		cursor: pointer;
		span {
			width: 25px;
			height: 2px;
			background-color: #000;
			display: block;
			margin-bottom: 6px;
		}
		span:nth-child(1) {
			// margin-bottom: 0;
		}
		span:nth-child(1) {
			// margin-bottom: 0;
		}
		span:nth-child(3) {
			margin-bottom: 0;
		}
		@media (max-width: 1070px) {
			display: block;
		}
	}
}
.h-logo__link {
	display: block;
	width: 106px;
	height: 25px;
	border-radius: 12px;
	background-image: url(../img/header-panel/logo-black.svg);
	background-repeat: no-repeat;
	background-size: 97%;
	background-position: center center;
	// transition: background-image 1s ease;
	&:hover {
		background-image: url(../img/header-panel/logo-header.svg);
		// transition: background-image 1s ease;
	}
}
.header-logo__img {
	max-width: 107px;
	width: 100%;
	max-height: 25px;
}
.settings {
	&__panel {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		flex: 1 1 auto;
		@media (max-width: 1070px) {
			justify-content: space-between;
		}
	}
}
.social {
	flex: 0 0 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 50px 0 75px;

	&-header {
		@media (max-width: 1070px) {
			display: none;
		}
	}

	&-main {
		margin: 0 20px;
	}

	&__link {
		width: 23px;
		height: 23px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
	}
}
.tg {
	background-image: url(../img/header-panel/tg.svg);
	&:hover {
		background-image: url(../img/header-panel/tg-a.svg);
	}
}
.inst {
	background-image: url(../img/header-panel/inst.svg);
	&:hover {
		background-image: url(../img/header-panel/inst-a.svg);
	}
}
.fb {
	background-image: url(../img/header-panel/fb.svg);
	&:hover {
		background-image: url(../img/header-panel/fb-a.svg);
	}
}
.vk {
	background-image: url(../img/header-panel/vk.svg);
	&:hover {
		background-image: url(../img/header-panel/vk-a.svg);
	}
}
.ytb {
	background-image: url(../img/header-panel/ytb.svg);
	&:hover {
		background-image: url(../img/header-panel/ytb-a.svg);
	}
}
.notifications {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
	position: relative;
	@media (max-width: 1070px) {
		margin-right: 0;
	}
	&__count {
		position: absolute;
		top: 1px;
		left: 17px;
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #980fbb;
		cursor: pointer;
	}

	&__img {
		cursor: pointer;
	}

	&__list {
		&-arrow {
			position: absolute;
			top: 26px;
			right: 5px;
			display: none;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7px 14px 7px;
			border-color: transparent transparent #ffffff transparent;
			z-index: 3;
			&--active {
				display: block;
			}
		}
		position: absolute;
		top: 40px;
		right: -10px;
		width: 378px;
		background-color: #ffffff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 25px 0 25px;
		z-index: 2;
		&--active {
			display: flex;
		}
	}

	&__item {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 15px 5px 15px 5px;
		border-bottom: 1px solid #ced0d3;
		cursor: pointer;
		transition-duration: 0.2s;
		&:last-child {
			border-bottom: none;
		}
	}
}
.img-author {
	flex: 0 0 28px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	overflow: hidden;
}
.notifications-item {
	&__img {
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__content {
		flex: 1 1 auto;
		padding-left: 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__name {
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
	}

	&__text {
		font-family: "Gilroy";
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
.see__all {
	width: 100%;
	padding: 15px 0 19px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.see-all__text {
	cursor: pointer;
	color: #980fbb;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.01em;
	transition: color 0.7s ease 0s;
	&:hover {
		color: #000;
	}
}

.line-vertical {
	flex: 0 0 1px;
	height: 30px;
	background: #ebebeb;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	@media (max-width: 1070px) {
		display: none;
	}
}

.language {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 30px;
	cursor: pointer;
	z-index: 2;
	&-header {
		@media (max-width: 1070px) {
			display: none;
		}
	}
	&-main {
		display: none;
		@media (max-width: 1070px) {
			display: flex;
		}
		.language__text {
			font-size: 18px;
		}
	}
	&__text {
		color: #263238;
		font-family: "Gilroy";
		font-size: 16px;
		font-weight: 600;
	}

	&__arrow-list {
		margin-left: 15px;
		margin-right: 2px;
		margin-bottom: 3px;
	}

	&__other {
		position: absolute;
		top: 30px;
		left: 0px;
		display: none;
		justify-content: center;
		background-color: #ffffff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		&:after {
			content: "";
			position: relative;
			top: -13px;
			right: 14px;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7px 14px 7px;
			border-color: transparent transparent #ffffff transparent;
		}
		&--active {
			display: flex;
		}
	}

	&__item {
		padding: 13px 8px 13px 19px;
	}
}
.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 180px;
	margin-left: 40px;
	position: relative;
	@media (max-width: 1070px) {
		display: none;
	}
	&__container-img {
		overflow: hidden;
		width: 28px;
		height: 28px;
		border-radius: 50%;
	}

	&__name {
		color: #000;
		font-size: 16px;
		line-height: 17px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
.open-exit {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4.5px 0 4.5px;
	border-color: #000000 transparent transparent transparent;
	cursor: pointer;
}
.exit {
	position: absolute;
	z-index: 2;
	top: 30px;
	left: 65px;
	background-color: #fff;
	width: 130px;
	padding: 18px 25px;
	display: none;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	&:after {
		content: "";
		position: absolute;
		top: -13px;
		right: 12px;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 7px 14px 7px;
		border-color: transparent transparent #ffffff transparent;
	}
	&--active {
		display: flex;
	}
	&__img {
	}

	&__text {
		font-size: 16px;
		line-height: 19px;
	}
}
