.main-panel {
	flex: 0 0 242px;
	background-color: #fff;
	height: 100%;
	border-right: 1px solid #eaedf3;
	@media (max-width: 1070px) {
		position: fixed;
		top: 47px;
		left: -400px;
		height: calc(100% - 47px);
		max-width: 320px;
		width: 100%;
		border-top: 1px solid #eaedf3;
		z-index: 2;
		transition: left 0.3s ease-out;
	}
	&--active {
		top: 47px;
		left: 0;
		transition: left 0.3s ease-out;
	}

	&__body {
		padding-bottom: 35px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		height: 100%;
		@media (max-height: 710px) {
			padding-bottom: 15px;
		}
		@media (max-height: 580px) {
			padding-bottom: 5px;
		}
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 35px 0 62px;
		width: 100%;
		@media (max-width: 1070px) {
			padding: 28px 25px 40px;
			justify-content: space-between;
			align-items: flex-end;
		}
		@media (max-height: 710px) {
			padding: 25px 25px 30px;
		}
		@media (max-height: 640px) {
			padding: 15px 25px 20px;
		}
	}

	&__nav {
		width: 100%;
		flex: 1 1 auto;
	}
}
.panel-logo {
	&__link {
		max-width: 165px;
	}

	&__img {
		width: 100%;
	}
}
/*panel nav*/
.panel-nav {
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		max-height: 473px;
		height: 100%;
		@media (max-height: 850px) {
			max-height: 470px;
		}
		@media (max-height: 760px) {
			max-height: 430px;
		}
	}

	&__item {
		width: 100%;
	}

	&__link {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 2px 0 2px 23px;
		transition-duration: 0.1s;
		transition-duration: 0.1s;
		border-left: 4px solid transparent;
		cursor: pointer;
		&:hover {
			border-left: 4px solid #841eb6;
		}
		&--active {
			border-left: 4px solid #841eb6;
		}
	}
}
.nav-link {
	&__img {
		display: block;
		width: 24px;
		height: 24px;
		margin-right: 21px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	&__text {
		color: #000;
		font-family: Gilroy;
		font-size: 16px;
		font-weight: 600;
	}
}
/*nav link images*/
.img-cabinet {
	background-image: url("../img/main-panel/nav-icons/cabinet.svg");
}
.img-pack {
	background-image: url("../img/main-panel/nav-icons/pack.svg");
}
.img-structure {
	background-image: url("../img/main-panel/nav-icons/structure.svg");
}
.img-bonus {
	background-image: url("../img/main-panel/nav-icons/bonus.svg");
}
.img-vallets {
	background-image: url("../img/main-panel/nav-icons/vallet.svg");
}
.img-profile {
	background-image: url("../img/main-panel/nav-icons/profile.svg");
}
.img-docs {
	background-image: url("../img/main-panel/nav-icons/doc.svg");
}
.img-books {
	background-image: url("../img/main-panel/nav-icons/book.svg");
}
.img-news {
	background-image: url("../img/main-panel/nav-icons/news.svg");
}
.img-faq {
	background-image: url("../img/main-panel/nav-icons/faq.svg");
}
/*nav link hover*/
.panel-nav__link:hover .img-cabinet {
	background-image: url("../img/main-panel/nav-icons/cabinet-a.svg");
}
.panel-nav__link:hover .img-pack {
	background-image: url("../img/main-panel/nav-icons/pack-a.svg");
}
.panel-nav__link:hover .img-structure {
	background-image: url("../img/main-panel/nav-icons/structure-a.svg");
}
.panel-nav__link:hover .img-bonus {
	background-image: url("../img/main-panel/nav-icons/bonus-a.svg");
}
.panel-nav__link:hover .img-vallets {
	background-image: url("../img/main-panel/nav-icons/vallet-a.svg");
}
.panel-nav__link:hover .img-profile {
	background-image: url("../img/main-panel/nav-icons/profile-a.svg");
}
.panel-nav__link:hover .img-docs {
	background-image: url("../img/main-panel/nav-icons/doc-a.svg");
}
.panel-nav__link:hover .img-books {
	background-image: url("../img/main-panel/nav-icons/book-a.svg");
}
.panel-nav__link:hover .img-news {
	background-image: url("../img/main-panel/nav-icons/news-a.svg");
}
.panel-nav__link:hover .img-faq {
	background-image: url("../img/main-panel/nav-icons/faq-a.svg");
}
.panel-nav__link:hover .nav-link__text {
	color: #841eb6;
}

/****panel nav-link active class**** */
.panel-nav__link--active .nav-link__text {
	color: #841eb6;
}
.panel-nav__link--active .img-cabinet {
	background-image: url("../img/main-panel/nav-icons/cabinet-a.svg");
}
.panel-nav__link--active .img-pack {
	background-image: url("../img/main-panel/nav-icons/pack-a.svg");
}
.panel-nav__link--active .img-structure {
	background-image: url("../img/main-panel/nav-icons/structure-a.svg");
}
.panel-nav__link--active .img-bonus {
	background-image: url("../img/main-panel/nav-icons/bonus-a.svg");
}
.panel-nav__link--active .img-vallets {
	background-image: url("../img/main-panel/nav-icons/vallet-a.svg");
}
.panel-nav__link--active .img-profile {
	background-image: url("../img/main-panel/nav-icons/profile-a.svg");
}
.panel-nav__link--active .img-docs {
	background-image: url("../img/main-panel/nav-icons/doc-a.svg");
}
.panel-nav__link--active .img-books {
	background-image: url("../img/main-panel/nav-icons/book-a.svg");
}
.panel-nav__link--active .img-news {
	background-image: url("../img/main-panel/nav-icons/news-a.svg");
}
.panel-nav__link--active .img-faq {
	background-image: url("../img/main-panel/nav-icons/faq-a.svg");
}

.nav-arrow {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 15px;
	margin-bottom: 4px;
	span {
		width: 8px;
		height: 8px;
		transform: rotate(-45deg);
		border-left: 2px solid #000;
		border-bottom: 2px solid #000;
		border-top: 2px solid transparent;
		border-right: 2px solid transparent;
		transition: transform 0.3s ease;
	}
}
.panel-nav__link:hover {
	span {
		border-left: 2px solid #841eb6;
		border-bottom: 2px solid #841eb6;
	}
}
.panel-nav__link--active {
	span {
		transform: rotate(135deg) translate(5px, -5px);
		border-left: 2px solid #841eb6;
		border-bottom: 2px solid #841eb6;
		transition: transform 0.3s ease;
	}
}
.nav-down__list {
	padding-top: 10px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	@media (max-width: 650px) {
		padding-top: 0;
	}
}
.nav-down__list--active {
	display: flex;
}
.nav-down__link {
	width: 100%;
	padding: 12px 0px 12px 71px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	&:hover {
		background-color: #f8f8f8;
	}
	@media (max-width: 1070px) {
		padding: 5px 3px 5px 71px;
	}
}

/******PANEL FOOTER********/
.panel-footer {
	padding: 0 28px;
	background-color: inherit;
	border: none;
	border-radius: 0;
	display: none;
	width: 100%;
	@media (max-width: 1070px) {
		display: block;
	}
	@media (max-height: 804px) {
		margin-top: 10px;
	}
	&__links {
		border-top: 1px solid #ced1d7;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 30px 0;
		@media (max-height: 700px) {
			padding: 15px 0;
		}
	}

	&__exit {
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	&__button {
		width: 100%;
		padding: 13px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #eaeaea;
		border-radius: 8px;
		color: #222;
		font-size: 16px;
		line-height: 19px;
		transition-duration: 0.3s;
		&:hover {
		}
		&:active {
			transform: scale(0.9);
		}
	}
}
