@media screen and (min-width: 1370px) {
	.modal__block {
		height: 650px;
		margin-top: 150px;
	}
}
@media screen and (max-width: 1022px) {
	.header__nav{
		padding: 30px;
	}
	.header__intro {
		padding:120px 0 150px 30px;
	}
	.contact {
		margin: 0 30px;
	}
	.footer__element {
		margin-right: 20px;
	}
}
@media screen and (max-width: 954px) {
	.segments {
		padding-bottom: 50px;
	}
	.intro {
		flex-direction: column;
		align-items: center;
	}
	.intro__element--second {
		margin-top: 50px;
	}
	.quality {
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.quality__img {
		display: none;
	}
	.team {
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.team__element {
		margin-top: 50px;
		margin-right: 0;
	}
}
@media screen and (max-width: 866px) {
	.header__intro {
		padding: 100px 0 130px 30px;
	}
}
@media screen and (max-width: 726px) {
	.header__intro {
		padding: 80px 0 110px 30px;
	}
	.header__intro--title {
		font-size: 30px;
		line-height: 38px;
	}
	.intro__element--first {
		margin-top: 0;
	}
	.contact__title {
		justify-content: center;
	}
	.contact__area {
		justify-content: center;
	}
}
@media screen and (max-width: 712px) {
	.contact__item {
		padding: 0  40px 0 15px;
	}
	.contact__caption {
		font-size: 14px;
	}
	.contact__text {
		font-size: 14px;
	}
	.contact__link {
		margin-right: 60px;
	}
}
@media screen and (max-width: 632px) {
	.contact__area {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact__item {
		margin-bottom: 30px;
	}
	.modal__block {
		height: 650px;
		margin-top: 50px;
	}
}
@media screen and (max-width: 604px) {
	.header__intro--title {
		font-size: 25px;
		line-height: 33px;
		text-align: center;
	}
	.header__nav-list {
		margin-left: 60px;
	}
	.header__intro--title {
		padding: 0;
	}
	.header__intro--title:before {
		display: none;
	}
}
@media screen and (max-width: 492px) {
	.header__nav {
		flex-direction: column;
		padding: 10px;
	}
	.header__nav-list {
		margin: 5px 5px;
	}
	.header__intro {
		padding: 60px 0 100px 30px;
	}
	.header__down {
		bottom: 20px;
		right: 20px;
	}
	.modal__form--name, .modal__form--email, .modal__form--textarea {
		width: 380px;
	}
}
@media screen and (max-width: 440px) {
	.container {
		padding: 0 10px;
	}
	.intro__element--first {
		padding: 40px 20px;
	}
	.intro__element--second {
		padding: 40px 20px;
	}
	.quality__element {
		padding: 40px 20px;
	}
	.team__element {
		padding: 40px 20px;
	}
	.line {
		height: 3px;
	}
	.intro__btn--link {
		font-size: 12px;
		padding: 15px;
	}
	.intro__element--caption {
		font-size: 14px;
	}
	.intro__element--text span {
		font-size: 14px;
	}
	.intro__element--title {
		font-size: 15px;
	}
	.intro__element--text {
		font-size: 12px;
	}
	.quality__element--title {
		font-size: 15px;
	}
	.quality__element--text {
		font-size: 12px;
	}
	.team__element--title {
		font-size: 15px;
	}
	.team__element--text {
		font-size: 12px;
	}
	.team__btn--link {
		font-size: 12px;
		padding: 15px;
	}
	.contact__area {
		justify-content: center;
	}
	.contact__item {
		width: 200px;
		padding: 0 30px 0 10px;
	}
	.contact__link {
		margin-right: 0;
	}
	.contact__logo {
		margin-right: 30px;
	}
}
@media screen and (max-width: 424px) {
	.modal__form--name, .modal__form--email, .modal__form--textarea {
		width: 330px;
	}
}
@media screen and (max-width: 368px) {
	.modal__form--name, .modal__form--email, .modal__form--textarea {
		width: 290px;
	}
	.modal__form--submit {
		width: 220px;
	}
}	
